[submodule "oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "Vundle.vim"]
	path = home/.config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
