[submodule "oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "dircolors-solarized"]
	path = home/.dircolors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "zsh-syntax-highlighting"]
	path = home/.config/oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
