" vim: fdm=marker

" NOT SUPPORTED: creation of functions
" So, no 'visual line repeat (drew neil)'
" or toggle relativenumber with <leader>nt
nnoremap <SPACE> <Nop>
let mapleader = ' '

" Plugins {{{1
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
" }}}

" NERDTree Settings {{{1
" emulate something like cmd+1 idea keymap
nnoremap <Leader>1 :NERDTree<CR>
" }}}

" Common settings {{{1
" Copy from vim to SO and
set clipboard=unnamed
"set history=1000 "utiliza mucho cpu
set hlsearch
set ignorecase
set incsearch
set number
set relativenumber
set scrolloff=3
set showmode
set showcmd
set smartcase
set visualbell
" }}}

" Treat words with dash as a word in Vim
" E and B not works, e.g. |hello-world]
" use dE, expected: delete hello-world, actual: delete hello-world]
" The same for colon :
"set iskeyword+=-
"set iskeyword+=:

" IdeaVim only commands {{{1
set ideajoin
set ideastatusicon=gray
" }}}

" Utils for keeb 65%
map <Leader>= <Action>(HideAllWindows)
map <Leader>` <Action>(ActivateREPLToolWindow)

" Tabs
" not works
"map <Leader><Tab> <Action>(GoToLastTab)

" CtrlP like
" as there are other maps with <leader>e use an arrow to trigger immediately the action
map <Leader>ee <Action>(RecentFiles)
map <Leader>p <Action>(GotoFile)
map <Leader>t <Action>(FileStructurePopup)
map <Leader>T <Action>(ActivateStructureToolWindow)
map <Leader>o <Action>(ShowBookmarks)
map <Leader>b <Action>(Switcher)

" easy window navigation
map <c-l> <c-w>l
map <c-j> <c-w>j
map <c-h> <c-w>h
map <c-k> <c-w>k

" Utils
nnoremap <Leader><space> :nohlsearch<CR>

" Smash escape
inoremap jk <Esc>
inoremap kj <Esc>
inoremap JK <Esc>
inoremap KJ <Esc>

" File opening
map <Leader>d :hide<CR>

" Save
nnoremap <Leader>w :w<Enter>

" unimpaired mappings
nnoremap [<Space> O<Esc>j
nnoremap ]<Space> o<Esc>k
" unimpaired like mappings
nnoremap [q :action PreviousOccurence<CR>
nnoremap ]q :action NextOccurence<CR>
nnoremap [m :action MethodUp<CR>
nnoremap ]m :action MethodDown<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>
nnoremap ]c :action VcsShowNextChangeMarker<CR>

" Clojure {{{1
" Cursive paredit same as
" guns/vim-sexp or tpope/vim-sexp-mappings-for-regular-people
"nnoremap E :action :cursive.actions.paredit/forward<CR>
"nnoremap B :action :cursive.actions.paredit/backward<CR>
" Like vim-iced
nnoremap <leader>et :action :cursive.repl.actions/run-top-sexp<CR>
nnoremap <Leader>rt :action :cursive.actions.paredit/thread-form<CR>
" not supported in vim iced
nnoremap <Leader>ru :action :cursive.actions.paredit/unthread-form<CR>
" Toggle structural editing
map <Leader>; <Action>(:cursive.actions.paredit/toggle)
" utils
inoremap <C-;> ()<left>
nnoremap <C-;> i()<left>
" }}}


" Action IntelliJ IDEA {{{1
nnoremap \ :action FindInPath<cr>
" refactoring
noremap <Leader>rr :action Refactorings.QuickListPopupAction<CR>


" Override defaults
nnoremap Q <Nop>
"nnoremap j gj
"nnoremap k gk
