" vim: fdm=marker

" NOT SUPPORTED: creation of functions
" So, no 'visual line repeat (drew neil)'
" or toggle relativenumber with <leader>nt

let mapleader = ','

" Plugins {{{1
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
" }}}

" NERDTree Settings {{{1
nnoremap <Leader>1 :NERDTreeToggle<CR>
" }}}

" Common settings {{{1
" Copy from vim to SO and
set clipboard=unnamed
"set history=1000 "utiliza mucho cpu
set hlsearch
set ignorecase
set iskeyword+=-
set incsearch
set number
"set relativenumber
set scrolloff=3
set showmode
set showcmd
set smartcase
set visualbell
" }}}

" IdeaVim only commands {{{1
set ideajoin
set ideastatusicon=gray
" }}}

" Utils for keeb 65%
map <Leader>= <Action>(HideAllWindows)
map <Leader>` <Action>(ActivateREPLToolWindow)

" Tabs
" not works
"map <Leader><Tab> <Action>(GoToLastTab)

" CtrlP like
" as there are other maps with <leader>e use an arrow to trigger immediately the action
map <Leader>e <Action>(RecentFiles)
map <Leader>p <Action>(GotoFile)
map <Leader>t <Action>(FileStructurePopup)
map <Leader>T <Action>(ActivateStructureToolWindow)
map <Leader>o <Action>(ShowBookmarks)
map <Leader>b <Action>(Switcher)

" easy window navigation
map <c-l> <c-w>l
map <c-j> <c-w>j
map <c-h> <c-w>h
map <c-k> <c-w>k

" Utils
nnoremap <Leader><space> :nohlsearch<CR>

" Smash escape
inoremap jk <Esc>
inoremap kj <Esc>
inoremap JK <Esc>
inoremap KJ <Esc>

" File opening
map <Leader>d :hide<CR>

" Save
nnoremap <Leader>w :w<Enter>

" unimpaired mappings
nnoremap [<Space> O<Esc>j
nnoremap ]<Space> o<Esc>k
" unimpaired like mappings
nnoremap [q :action PreviousOccurence<CR>
nnoremap ]q :action NextOccurence<CR>
nnoremap [m :action MethodUp<CR>
nnoremap ]m :action MethodDown<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>
nnoremap ]c :action VcsShowNextChangeMarker<CR>

" Clojure {{{1
" Cursive paredit same as
" guns/vim-sexp or tpope/vim-sexp-mappings-for-regular-people
nnoremap E :action :cursive.actions.paredit/forward<CR>
nnoremap B :action :cursive.actions.paredit/backward<CR>
" normal mode
map <A-j> <Action>(:cursive.actions.paredit/barf-backwards)
map <A-k> <Action>(:cursive.actions.paredit/barf-forwards)
map <A-h> <Action>(:cursive.actions.paredit/slurp-backwards)
map <A-l> <Action>(:cursive.actions.paredit/slurp-forwards)
" works both as move list and element in sexp
map <A-S-j> <Action>(:cursive.actions.paredit/move-form-down)
map <A-S-k> <Action>(:cursive.actions.paredit/move-form-up)
" same maps in nvim
map <A-o> <Action>(:cursive.actions.paredit/raise)
map <A-s> <Action>(:cursive.actions.paredit/splice)
" NO equivalent in vim-sexp
map <C-A-s> <Action>(:cursive.actions.paredit/split)
map <C-A-j> <Action>(:cursive.actions.paredit/join)
" like vim objects
map <C-A-k> <Action>(:cursive.actions.paredit/kill)
"<M-A-k> kill-sexp
"<C-S-K> copy-as-kill
" Like vim-iced
nnoremap <leader>et :action :cursive.repl.actions/run-top-sexp<CR>
nnoremap <Leader>rt :action :cursive.actions.paredit/thread-form<CR>
" not supported in vim iced
nnoremap <Leader>ru :action :cursive.actions.paredit/unthread-form<CR>
" Toggle structural editing
map <Leader>; <Action>(:cursive.actions.paredit/toggle)
" utils
inoremap <C-S> ()<left>
nnoremap <C-S> i()<left>

""" for some reason put this to make it work in insert mode """
imap <A-j> <Action>(:cursive.actions.paredit/barf-backwards)
imap <A-k> <Action>(:cursive.actions.paredit/barf-forwards)
imap <A-h> <Action>(:cursive.actions.paredit/slurp-backwards)
imap <A-l> <Action>(:cursive.actions.paredit/slurp-forwards)
imap <A-S-j> <Action>(:cursive.actions.paredit/move-form-down)
imap <A-S-k> <Action>(:cursive.actions.paredit/move-form-up)
imap <A-o> <Action>(:cursive.actions.paredit/raise)
imap <A-s> <Action>(:cursive.actions.paredit/splice)
imap <C-A-s> <Action>(:cursive.actions.paredit/split)
imap <C-A-j> <Action>(:cursive.actions.paredit/join)
imap <C-A-k> <Action>(:cursive.actions.paredit/kill)
" }}}


" Action IntelliJ IDEA {{{1
nnoremap \ :action FindInPath<cr>
" refactoring
noremap <Leader>r :action Refactorings.QuickListPopupAction<CR>


" code navigation {{{2
"nnoremap <C-]> :action FindUsagesInFile<CR>
map <C-]> :action GotoImplementation<CR>
" built-in navigation to navigated items works better
map <C-o> :action Back<CR>
map <C-i> :action Forward<CR>

" to work also in insert mode
imap <C-]> <Action>(GotoImplementation)
imap <C-o> <Action>(Back)
imap <C-i> <Action>(Forward)

" Force yourself to stop using arrow keys
"noremap   <Up>     <Nop>
"noremap   <Down>   <Nop>
"noremap   <Left>   <Nop>
"noremap   <Right>  <Nop>
"inoremap  <Up>     <Nop>
"inoremap  <Down>   <Nop>
"inoremap  <Left>   <Nop>
"inoremap  <Right>  <Nop>

" Override defaults
nnoremap Q <Nop>
"nnoremap <space> zo " to slow
"nnoremap j gj
"nnoremap k gk
