" vim: fdm=marker

" NOT SUPPORTED: creation of functions
" So, no 'visual line repeat (drew neil)'
" or toggle relativenumber with <leader>nt

let mapleader = ','

" Plugins {{{1
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
" }}}

" Common settings {{{1
" Copy from vim to SO and
set clipboard=unnamed
"set history=1000 "utiliza mucho cpu
set hlsearch
set ignorecase
set iskeyword+=-
set incsearch
set number
"set relativenumber
set scrolloff=3
set showmode
set showcmd
set smartcase
" }}}

" IdeaVim only commands {{{1
set ideajoin
set ideastatusicon=gray
" }}}

" easy window navigation
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-h> <c-w>h
nnoremap <c-k> <c-w>k

" Utils
nnoremap <Leader><space> :nohlsearch<CR>

" Smash escape
inoremap jk <Esc>
inoremap kj <Esc>
inoremap JK <Esc>
inoremap KJ <Esc>

" File opening
map <Leader>d :hide<CR>

" Save
nnoremap <Leader>w :w<Enter>

" unimpaired mappings
nnoremap [<Space> O<Esc>j
nnoremap ]<Space> o<Esc>k
" unimpaired like mappings
nnoremap [q :action PreviousOccurence<CR>
nnoremap ]q :action NextOccurence<CR>
nnoremap [m :action MethodUp<CR>
nnoremap ]m :action MethodDown<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>
nnoremap ]c :action VcsShowNextChangeMarker<CR>

" Clojure {{{1
" Cursive paredit same as
" guns/vim-sexp or tpope/vim-sexp-mappings-for-regular-people
nnoremap E :action :cursive.actions.paredit/forward<CR>
nnoremap B :action :cursive.actions.paredit/backward<CR>
nnoremap <A-S-j> :action :cursive.actions.paredit/barf-backwards<CR>
nnoremap <A-S-k> :action :cursive.actions.paredit/barf-forwards<CR>
nnoremap <A-S-h> :action :cursive.actions.paredit/slurp-backwards<CR>
nnoremap <A-S-l> :action :cursive.actions.paredit/slurp-forwards<CR>
nnoremap <A-o> :action :cursive.actions.paredit/rise<CR>
nnoremap <A-s> :action :cursive.actions.paredit/splice<CR>
nnoremap <A-j> :action :cursive.actions.paredit/move-form-down<CR>
nnoremap <A-k> :action :cursive.actions.paredit/move-form-up<CR>
" }}}

" Action IntelliJ IDEA {{{1
"
nnoremap <Space>t :action ChooseTestConfiguration<CR>
nnoremap <Space>r :action ChooseRunConfiguration<CR>
"nnoremap \ :action FindInPath<cr>
" refactoring
noremap <Leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <Leader>g :action Generate<CR>

" code navigation {{{2
"nnoremap <C-]> :action FindUsagesInFile<CR>
nnoremap <C-]> :action GotoImplementation<CR>
nnoremap <C-[> :action GotoSuperMethod<CR>
" built-in navigation to navigated items works better
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>
" but preserve ideavim defaults
nnoremap g<C-o> <c-o>
nnoremap g<C-i> <c-i>

" Force yourself to stop using arrow keys
"noremap   <Up>     <Nop>
"noremap   <Down>   <Nop>
"noremap   <Left>   <Nop>
"noremap   <Right>  <Nop>
"inoremap  <Up>     <Nop>
"inoremap  <Down>   <Nop>
"inoremap  <Left>   <Nop>
"inoremap  <Right>  <Nop>

" Override defaults
nnoremap Q <Nop>
"nnoremap <space> zo " to slow
"nnoremap j gj
"nnoremap k gk
